*{
    margin: 0;
    padding: 0;
}
body{
    background: #f3f2ef;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    width: 100vw;
    height: 100vh;
}
.box{
    width: 35vw;
    height: 50vh;
    background: #a5bbdd;
    border-radius: 0.5rem;
    position: relative;
    overflow: hidden;
    transform:translate3d(0,0,0);
    min-width: 25rem;
    min-height: 32rem;
}
.wave{
    position: absolute;
    top: 120%;
    left: 50%;
    background: white;
    height: 50rem;
    width: 50rem;
    margin-left:-25rem;
    margin-top: -20rem;
    transform-origin: 50% 48%;
    border-radius: 43%;
    animation: drift 4000ms infinite alternate;
    opacity: 0.3;
    z-index: 1 !important;
}
.wave .-three{
    opacity: 0.2;
    animation: drift 5000ms infinite alternate;
    z-index: 2;
}
.wave .-two{
    animation: drift 7000ms infinite alternate;
    opacity: 0.1;
    z-index: 3 !important;
}
@keyframes drift{
    from{
        transform: rotate(0deg);
    }
    to{
        transform: rotate(360deg);
    }
}
@media(max-width:600px)
{
    .box{
        width: 80vw;
        height: 80vh;
    }
    .wave{
        top: 100%;
    }
    .info{
        font-size: 1.5rem;
    }
}
@media(max-width:400px)
{
    .box{
        width: 60vw;
        height: 80vh;
    }
}
@media(max-height:500px)
{
    .box{
        height: 80vh;
    }
    .wave{
        top: 120%;
    }
}
.Inputdata{
    width: 100%;
    height: 10vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.Inputfield{
    width: 50%;
    margin: auto;
    border-radius: 5rem;
    padding: 1rem 1rem;
    outline: none;
    font-size: 1.2rem;
}
.loca{
    margin-top: 5.5rem;
    margin-left: 5rem;
    font-size: 3.3rem;
    font-weight: 800;
    text-transform: capitalize;
}
.fa-street-view{
    animation: rotates 3s linear infinite alternate;
}
@keyframes rotates{
    from{
        transform: translateX(-0.5rem);
    }
    to{
        transform: translateX(0.7rem);
    }
}

#date{
    text-align: center;
    margin-top: 0.5rem;
    color: #57606f;
    font-weight: 300;
    font-size: 1.2rem;
    text-transform: uppercase;
}
.temp{
    margin-top: 2.5rem;
    text-align: center;
    font-size: 3rem;
}
.tempminmax{
    text-align: center;
    margin-top: 0.2rem;
    font-weight: 300;
    font-size: 1.2rem;
    color: #5f6672;
}
.errormsg{
    text-align: center;
    font-size: 2rem;
    margin: 2rem auto;
}